
<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/trail-2.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader">El Rio Trail</h4>
    <p>The El Rio Trail is a 2 mile out and back trail located in your area. The trail is primarily used for mountain biking and is accessible year-round.</p>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/trail-1.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader">Aspen Trailhead to Rocking Chair Dam</h4>
    <p>Aspen Trailhead to Rocking Chair Dam is about 12.6 miles long and located near Portland, Oregon. The trail is great for hiking and normally takes a full day.</p>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/trail-3.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader">Pittock Mansion From Lower MacLeay Park</h4>
    <p>At over 1,000 feet you will have great views of Portland and will also have a great opportunity for bird watching. Take the time to explore the grounds and make sure to read the links I've included with this guide for more information on the site. The building is overseen by the Bureau of Parks and Recreation and it is open for touring.</p>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/trail-4.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader">Mount Talbert Nature Park</h4>
    <p>This short loop to the top of this extinct lava dome in Clackamas County is perfect for the whole family. The trail winds through beautiful forest and is filled with interpretive signs about the environment you are walking through and the flora and fauna you may see along the way.</p>
	</div>
</div>
